/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */

body
{
    text-align: center;
}

h1{
    /* font-family: 'Pacifico', cursive; */
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 30px;
   
}

h2{
    margin-top:50px;
    margin-bottom: 50px;
}

img{
    margin-bottom: 50px;
}